.root {
  margin-top: 16px;
  .title {
    box-sizing: border-box;
    width: 256px;
  }
  .description {
    box-sizing: border-box;
    width: 256px;
    height: 200px;
    resize: none;
  }
  .visible {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
  }
  .add {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background: #dddddd;
    font-weight: bold;
    svg {
      margin-right: 8px;
    }
  }
}
