.root {
  margin-top: 16px;
  .title {
    box-sizing: border-box;
    width: 256px;
  }
  .description {
    box-sizing: border-box;
    width: 256px;
    height: 200px;
    resize: none;
  }
  .visible {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
  }
}
