.root {
  .title {
    box-sizing: border-box;
    width: 256px;
  }
  .description {
    box-sizing: border-box;
    width: 256px;
    height: 200px;
  }
  .error {
    color: red;
    margin-left: 16px;
  }
}
